<div id="<%= dom_id grade %>">
  <p>
    <strong>Value:</strong>
    <%= grade.value %>
  </p>

  <p>
    <strong>Expected at:</strong>
    <%= grade.expected_at %>
  </p>

  <p>
    <strong>Examination:</strong>
    <%= grade.examination_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= grade.person_id %>
  </p>

</div>
