<div id="<%= dom_id person %>">
  <p>
    <strong>Username:</strong>
    <%= person.username %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= person.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= person.role.humanize if person.role.present? %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= person.iban %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address.full_address if person.address.present? %>
  </p>

</div>
