<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue dans notre application de gestion scolaire</h1>
    <p class="lead">Cette application vous permet de gérer les classes, les cours, les examens et les notes.</p>
    <hr class="my-4">
    
    <% if person_signed_in? %>
      <p>Vous êtes connecté en tant que <%= current_person.username %> (<%= current_person.role.humanize %>)</p>
      <div class="mt-3">
        <%= link_to "Mon profil", edit_profile_people_path, class: "btn btn-primary" %>
        <%= button_to "Se déconnecter", destroy_person_session_path, method: :delete, class: "btn btn-danger", form_class: "d-inline" %>
      </div>
      
      <div class="mt-4">
        <h3>Accès rapide</h3>
        <div class="list-group">
          <%= link_to "Personnes", people_path, class: "list-group-item list-group-item-action" %>
          <%= link_to "Classes", school_classes_path, class: "list-group-item list-group-item-action" %>
          <%= link_to "Cours", courses_path, class: "list-group-item list-group-item-action" %>
          <%= link_to "Examens", examinations_path, class: "list-group-item list-group-item-action" %>
          <% if current_person.student? %>
            <%= link_to "Mon bulletin de notes", report_card_grades_path, class: "list-group-item list-group-item-action" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>Veuillez vous connecter pour accéder à l'application.</p>
      <div class="mt-3">
        <%= link_to "Se connecter", new_person_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
