<div id="<%= dom_id school_class %>">
  <p>
    <strong>Uid:</strong>
    <%= school_class.uid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= school_class.name %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= school_class.person_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= school_class.room_id %>
  </p>

  <p>
    <strong>Moment:</strong>
    <%= school_class.moment_id %>
  </p>

</div>
