<div id="<%= dom_id course %>">
  <p>
    <strong>Heure de début :</strong>
    <%= course.start_at.strftime("%H:%M") %>
  </p>

  <p>
    <strong>Heure de fin :</strong>
    <%= course.end_at.strftime("%H:%M") %>
  </p>

  <p>
    <strong>Jour de la semaine :</strong>
    <%= I18n.t("date.day_names")[Course.week_days[course.week_day]] %>
  </p>

  <p>
    <strong>Classe :</strong>
    <%= course.school_class.name %>
  </p>

  <p>
    <strong>Matière :</strong>
    <%= course.subject.name %>
  </p>

  <p>
    <strong>Période :</strong>
    <%= course.moment.uid %>
  </p>

  <p>
    <strong>Enseignant :</strong>
    <%= "#{course.person.firstname} #{course.person.lastname}" %>
  </p>
</div>
