<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_at, style: "display: block" %>
    <%= form.datetime_field :start_at %>
  </div>

  <div>
    <%= form.label :end_at, style: "display: block" %>
    <%= form.datetime_field :end_at %>
  </div>

  <div>
    <%= form.label :week_day, style: "display: block" %>
    <%= form.select :week_day, Course.week_days.keys.map { |day| [day.humanize, day] } %>
  </div>

  <div>
    <%= form.label :classe_id, style: "display: block" %>
    <%= form.collection_select :classe_id, SchoolClass.all, :id, :name, { prompt: "Sélectionnez une classe" } %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.collection_select :subject_id, Subject.all, :id, :name, { prompt: "Sélectionnez une matière" } %>
  </div>

  <div>
    <%= form.label :moment_id, style: "display: block" %>
    <%= form.collection_select :moment_id, Moment.all, :id, :uid, { prompt: "Sélectionnez un moment" } %>
  </div>

  <div>
    <%= form.label :person_id, style: "display: block" %>
    <%= form.collection_select :person_id, Person.where(role: :teacher), :id, :username, { prompt: "Sélectionnez un enseignant" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
