<div id="<%= dom_id moment %>">
  <p>
    <strong>Uid:</strong>
    <%= moment.uid %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= moment.category %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= moment.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= moment.end_at %>
  </p>

</div>
